body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(3, 62, 83);
}

h1 {
  text-align: center;
  background-color: #0057d8;
  color: white;
  padding: 20px;
  margin: 0;
  font-size: 28px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 30px;
}

.card {
  background-color: white;
  width: 230px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 87, 216, 0.2);
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 87, 216, 0.4);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
  color: #333;
}

.card p {
  margin: 5px 0 15px;
  font-weight: bold;
  color: #111;
}

.card button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: red;
}
